In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
trainOri = pd.read_csv('./input/train.csv')
testOri = pd.read_csv('./input/test.csv')

train = trainOri.copy()
test = testOri.copy()

In [3]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

获取存在缺失值的特征,同时计算缺失率

In [5]:
aa = train.isnull().sum()
aa[aa>0].sort_values(ascending=False)/len(train)

PoolQC          0.995205
MiscFeature     0.963014
Alley           0.937671
Fence           0.807534
FireplaceQu     0.472603
LotFrontage     0.177397
GarageYrBlt     0.055479
GarageType      0.055479
GarageFinish    0.055479
GarageQual      0.055479
GarageCond      0.055479
BsmtFinType2    0.026027
BsmtExposure    0.026027
BsmtFinType1    0.025342
BsmtCond        0.025342
BsmtQual        0.025342
MasVnrArea      0.005479
MasVnrType      0.005479
Electrical      0.000685
dtype: float64

In [6]:
aa = test.isnull().sum()
aa[aa>0].sort_values(ascending=False)/len(test)

PoolQC          0.997944
MiscFeature     0.965045
Alley           0.926662
Fence           0.801234
FireplaceQu     0.500343
LotFrontage     0.155586
GarageYrBlt     0.053461
GarageCond      0.053461
GarageQual      0.053461
GarageFinish    0.053461
GarageType      0.052090
BsmtCond        0.030843
BsmtExposure    0.030158
BsmtQual        0.030158
BsmtFinType1    0.028787
BsmtFinType2    0.028787
MasVnrType      0.010966
MasVnrArea      0.010281
MSZoning        0.002742
BsmtFullBath    0.001371
BsmtHalfBath    0.001371
Utilities       0.001371
Functional      0.001371
Exterior2nd     0.000685
Exterior1st     0.000685
SaleType        0.000685
BsmtFinSF1      0.000685
BsmtFinSF2      0.000685
BsmtUnfSF       0.000685
KitchenQual     0.000685
GarageCars      0.000685
GarageArea      0.000685
TotalBsmtSF     0.000685
dtype: float64

In [7]:
textFeaturesTr = train.select_dtypes(include=[object])
print(len(textFeaturesTr.columns))
print(textFeaturesTr.columns)

43
Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [8]:
textFeaturesTe = test.select_dtypes(include=[object])
print(len(textFeaturesTe.columns))
print(textFeaturesTe.columns)

43
Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

对特征分组：

MSSubClass、MSZoning

LotFrontage

LotArea

Street、Alley

LotShape、LandContour

Utilities

LotConfig、LandSlope、Neighborhood、Condition1、Condition2

BldgType、HouseStyle

OverallQual、OverallCond

YearBuilt、YearRemodAdd

RoofStyle、RoofMatl、Exterior1st、Exterior2nd、MasVnrType、MasVnrArea、ExterQual、ExterCond、Foundation

BsmtQual、BsmtCond、BsmtExposure、BsmtFinType1、BsmtFinSF1、BsmtFinType2、BsmtFinSF2、BsmtUnfSF、TotalBsmtSF

Heating、HeatingQC、CentralAir、Electrical

1stFlrSF、2ndFlrSF、LowQualFinSF、GrLivArea

BsmtFullBath、BsmtHalfBath、FullBath、HalfBath、Bedroom、Kitchen、KitchenQual、TotRmsAbvGrd

Functional

Fireplaces、FireplaceQu

GarageType、GarageYrBlt、GarageFinish、GarageCars、GarageArea、GarageQual、GarageCond

PavedDrive、WoodDeckSF

OpenPorchSF、EnclosedPorch、3SsnPorch、ScreenPorch

PoolArea、PoolQC

Fence

MiscFeature

MoSold、YrSold

SaleType、SaleCondition

In [9]:
train['MSSubClass'].value_counts()

20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: MSSubClass, dtype: int64

In [10]:
def missing_rate(df,idx):
    print(df[idx].isnull().sum()/len(df))

## Prepare the Data

### Data Cleaning

In [11]:
#有缺失值的字段
aa = train.isnull().sum()
aa[aa>0].sort_values(ascending=False)/len(train)

PoolQC          0.995205
MiscFeature     0.963014
Alley           0.937671
Fence           0.807534
FireplaceQu     0.472603
LotFrontage     0.177397
GarageYrBlt     0.055479
GarageType      0.055479
GarageFinish    0.055479
GarageQual      0.055479
GarageCond      0.055479
BsmtFinType2    0.026027
BsmtExposure    0.026027
BsmtFinType1    0.025342
BsmtCond        0.025342
BsmtQual        0.025342
MasVnrArea      0.005479
MasVnrType      0.005479
Electrical      0.000685
dtype: float64

In [12]:
aa = train.isnull().sum()
missingColsTr= aa[aa>0]
missingColsTr = missingColsTr.index.tolist()
print(len(missingColsTr))
print(missingColsTr)

19
['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']

一共19个特征出现空缺值。

将填充方式相同的特征集合到一起，一块填充

In [13]:
aa = test.isnull().sum()
missingColsTe= aa[aa>0]
missingColsTe = missingColsTe.index.tolist()
print(len(missingColsTe))
print(missingColsTe)

33
['MSZoning', 'LotFrontage', 'Alley', 'Utilities', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType']

In [14]:
def show_categorical(df, cols):
    print(df[cols].value_counts())

In [15]:
for col in missingCols:
    show_categorical(train,col)
    print("="*64)

NameError: name 'missingCols' is not defined

In [16]:
#使用None填充：string类型
cols = ['Alley','MasVnrType','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2','Electrical',\
       'FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond','PoolQC','Fence','MiscFeature']
colsZero = ['MasVnrArea','GarageYrBlt']
#'GarageYrBlt'
#'LotFrontage'
for col in cols:
    train[col].fillna('NA',inplace=True)

for col in colsZero:
    train[col].fillna(0,inplace=True)

In [17]:
#LotFrontage
train[~train.LotFrontage.isnull()].head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000

In [18]:
train['LotFrontage'].fillna(train['LotFrontage'].median(),inplace=True)
#用中位数填充

In [19]:
train[train.LotFrontage.isnull()].head()

Empty DataFrame
Columns: [Id, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

[0 rows x 81 columns]

In [20]:
# 测试集填充
show_categorical(test, missingColsTe)

AttributeError: 'DataFrame' object has no attribute 'value_counts'

**value_counts适用于离散型变量的值分布统计**

In [21]:
print(len(missingColsTe))
print(missingColsTe)

33
['MSZoning', 'LotFrontage', 'Alley', 'Utilities', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType']

In [22]:
#使用None填充：string类型
cols = ['Alley','MasVnrType','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2','Electrical',\
       'FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond','PoolQC','Fence','MiscFeature']
colsZero = ['BsmtFinSF1','BsmtFinSF2','BsmtUnfSF','TotalBsmtSF','BsmtFullBath',\
            'BsmtHalfBath','GarageYrBlt','GarageCars','GarageArea']
# 众数 MSZoning Utilities Exterior1st Exterior2nd KitchenQual Functional SaleType
colsMode = ['MSZoning','Utilities','Exterior1st','Exterior2nd','KitchenQual','Functional','SaleType']
# 中位数 'LotFrontage' MasVnrArea
colsMedian = ['LotFrontage','MasVnrArea']
for col in cols:
    test[col].fillna('NA',inplace=True)

for col in colsZero:
    test[col].fillna(0,inplace=True)

for col in colsMode:
    test[col].fillna(test[col].mode()[0],inplace=True)
    
for col in colsMedian:
    test[col].fillna(test[col].median(),inplace=True)

In [23]:
aa = test.isnull().sum()
aa[aa>0].sort_values(ascending=False)

Series([], dtype: int64)

发现用众数mode填充失败！为什么？
Series 众数返回是一个Series
添加一个下标就行了

数据填充完毕；

特征划分，类别型、数值型

分别进行处理

In [24]:
Ids = test['Id']
test = test.drop('Id', axis=1)

targets = train['SalePrice']
train = train.drop(['Id','SalePrice'],axis=1)

In [25]:
print(train.shape)
print(test.shape)

(1460, 79)
(1459, 79)

In [26]:
#将年份等相关特征从int64 转变成 str类型
def chg(df, cols):
    for col in cols:
        df[col] = df[col].astype('str')

cols = ['YearBuilt','YearRemodAdd','YrSold','MoSold','MSSubClass']

chg(train,cols)
chg(test,cols)

In [27]:
cateFeats = ['ExterQual', 'ExterCond','HeatingQC', 'KitchenQual', 'FireplaceQu',\
             'GarageQual', 'GarageCond','BsmtQual','BsmtCond','BsmtFinType1',\
             'BsmtFinType2','BsmtExposure','PoolQC','GarageType','GarageFinish',\
             'Fence','Functional','MiscFeature']

oneHotFeats = ['MSSubClass', 'MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour',\
               'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1',\
               'Condition2', 'BldgType', 'HouseStyle', 'YearBuilt', 'YearRemodAdd',\
               'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',\
               'Foundation', 'Heating', 'CentralAir', 'Electrical', 'PavedDrive',\
               'MoSold', 'YrSold', 'SaleType', 'SaleCondition']
numFeats = train.select_dtypes(include=[np.int64,np.float64]).columns

In [28]:
print(len(cateFeats)+len(oneHotFeats)+len(numFeats))

79

In [29]:
train.shape

(1460, 79)

In [30]:
numFeats

Index(['LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'MasVnrArea',
       'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF',
       '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath',
       'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal'],
      dtype='object')

特征数量相等。

**数据集特征字段依据类型划分完成，之后根据特征类型采用不用的处理方法完成数据处理，处理之后，整合形成新的数据集；最后进行模型训练。**

### 类别编码

有顺序关系的特征编码

In [31]:
cateTrain = train[cateFeats]
cateTest = test[cateFeats]
cateTrain.head()

,ExterQual,ExterCond,HeatingQC,KitchenQual,FireplaceQu,GarageQual,GarageCond,BsmtQual,BsmtCond,BsmtFinType1,BsmtFinType2,BsmtExposure,PoolQC,GarageType,GarageFinish,Fence,Functional,MiscFeature
0,Gd,TA,Ex,Gd,NA,TA,TA,Gd,TA,GLQ,Unf,No,NA,Attchd,RFn,NA,Typ,NA
1,TA,TA,Ex,TA,TA,TA,TA,Gd,TA,ALQ,Unf,Gd,NA,Attchd,RFn,NA,Typ,NA
2,Gd,TA,Ex,Gd,TA,TA,TA,Gd,TA,GLQ,Unf,Mn,NA,Attchd,RFn,NA,Typ,NA
3,TA,TA,Gd,Gd,Gd,TA,TA,TA,Gd,ALQ,Unf,No,NA,Detchd,Unf,NA,Typ,NA
4,Gd,TA,Ex,Gd,TA,TA,TA,Gd,TA,GLQ,Unf,Av,NA,Attchd,RFn,NA,Typ,NA

对类别数据one-hot编码

In [32]:
qual5toCat = {'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1,'NA':0} # ExterQual ExterCond HeatingQC KitchenQual
# 6 FireplaceQu  GarageQual GarageCond
qual6toCatBsmt = {'NA':1,'Po':2,'Fa':3,'TA':4,'Gd':5,'Ex':6} # BsmtQual BsmtCond
qual7toCat = {'NA':1,'Unf':2,'LwQ':3,'Rec':4,'BLQ':5,'ALQ':6,'GLQ':7}# BsmtFinType1 BsmtFinType2

mapBsmtExposure = {'NA':1,'No':2,'Mn':3,'Av':4,'Gd':5} # BsmtExposure
mapPoolQC = {'Ex':5,'Gd':4,'TA':3,'Fa':2,'NA':1}#PoolQC
mapFunctional = {'Sal':1,'Sev':2,'Maj2':3,'Maj1':4,'Mod':5,'Min2':6,'Min1':7,'Typ':8}
mapGarageType = {'NA':1,'Detchd':2,'CarPort':3,'BuiltIn':4,'Basment':5,'Attchd':6,'2Types':7}
mapGarageFinish = {'NA':1,'Unf':2,'RFn':3,'Fin':4}
mapFence = {'NA':1,'MnWw':2,'GdWo':3,'MnPrv':4,'GdPrv':5}
mapMiscFeature = {'NA':1,'TenC':2,'Shed':3,'Othr':4,'Gar2':5,'Elev':6}

feats1 = ['ExterQual','ExterCond','HeatingQC','KitchenQual','FireplaceQu','GarageQual','GarageCond']
feats2 = ['BsmtQual','BsmtCond']
feats3 = ['BsmtFinType1','BsmtFinType2']
def transformDF(df):
    for feature in feats1:
        df = df.replace({feature: qual5toCat})
    for feature in feats2:
        df = df.replace({feature: qual6toCatBsmt})
    for feature in feats3:
        df = df.replace({feature: qual7toCat})
    df = df.replace({'BsmtExposure':mapBsmtExposure})
    df = df.replace({'PoolQC':mapPoolQC})
    df = df.replace({'Functional':mapFunctional})
    df = df.replace({'GarageType':mapGarageType})
    df = df.replace({'GarageFinish':mapGarageFinish})
    df = df.replace({'Fence':mapFence})
    df = df.replace({'MiscFeature':mapMiscFeature})
    return df

cateTrain = transformDF(cateTrain)
cateTest = transformDF(cateTest)

In [33]:
aa = cateTrain.isnull().sum()
aa[aa>0]

Series([], dtype: int64)

In [34]:
aa = cateTest.isnull().sum()
aa[aa>0]

Series([], dtype: int64)

In [35]:
cateTrain.head()

,ExterQual,ExterCond,HeatingQC,KitchenQual,FireplaceQu,GarageQual,GarageCond,BsmtQual,BsmtCond,BsmtFinType1,BsmtFinType2,BsmtExposure,PoolQC,GarageType,GarageFinish,Fence,Functional,MiscFeature
0,4,3,5,4,0,3,3,5,4,7,2,2,1,6,3,1,8,1
1,3,3,5,3,3,3,3,5,4,6,2,5,1,6,3,1,8,1
2,4,3,5,4,3,3,3,5,4,7,2,3,1,6,3,1,8,1
3,3,3,4,4,4,3,3,4,5,6,2,2,1,2,2,1,8,1
4,4,3,5,4,3,3,3,5,4,7,2,4,1,6,3,1,8,1

In [36]:
cateTest.head()

,ExterQual,ExterCond,HeatingQC,KitchenQual,FireplaceQu,GarageQual,GarageCond,BsmtQual,BsmtCond,BsmtFinType1,BsmtFinType2,BsmtExposure,PoolQC,GarageType,GarageFinish,Fence,Functional,MiscFeature
0,3,3,3,3,0,3,3,4,4,4,3,2,1,6,2,4,8,1
1,3,3,3,4,0,3,3,4,4,6,2,2,1,6,2,1,8,5
2,3,3,4,3,3,3,3,5,4,7,2,2,1,6,4,4,8,1
3,3,3,5,4,4,3,3,4,4,7,2,2,1,6,4,1,8,1
4,4,3,5,4,0,3,3,5,4,6,2,2,1,6,3,1,8,1

**次序类别特征处理完成**

### 没有顺序关系的特征
用one-hot encoder编码

In [140]:
oneHotTrain = train[oneHotFeats]
oneHotTest = test[oneHotFeats]

In [141]:
oneHotTrain.MSSubClass.value_counts()

20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: MSSubClass, dtype: int64

In [142]:
oneHotTest.MSSubClass.value_counts()

20     543
60     276
50     143
120     95
30      70
70      68
160     65
80      60
90      57
190     31
85      28
180      7
75       7
45       6
40       2
150      1
Name: MSSubClass, dtype: int64

In [143]:
print(type(oneHotTrain))
print(type(oneHotTest))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [144]:
oneHotTrain.Utilities.value_counts()

AllPub    1459
NoSeWa       1
Name: Utilities, dtype: int64

In [145]:
oneHotTest.Utilities.value_counts()

AllPub    1459
Name: Utilities, dtype: int64

**转换后数据长度不相同，主要是由于特征值的缺失；有的值在训练集特征中出现，在测试集中却没有出现，或者反之。**

In [146]:
# #现将MSSubClass的数字转换成类别码A～Z
# oneHotTrain = oneHotTrain.replace({'MSSubClass':{20: "A", 30: "B", 40: "C", 45: "D", 50: "E",\
#                                      60: "F", 70: "G", 75: "H", 80: "I", 85: "J",\
#                                      90: "K", 120: "L", 150: "M", 160: "N", 180: "O", 190: "P"}})

# oneHotTest = oneHotTest.replace({'MSSubClass':{20: "A", 30: "B", 40: "C", 45: "D", 50: "E",\
#                                      60: "F", 70: "G", 75: "H", 80: "I", 85: "J",\
#                                      90: "K", 120: "L", 150: "M", 160: "N", 180: "O", 190: "P"}})

In [148]:
# 对MSSubClass单独进行one-hot编码
dummyMSSubClassTrain = oneHotTrain['MSSubClass']
dummyMSSubClassTest = oneHotTest['MSSubClass']

oneHotTrain = oneHotTrain.drop('MSSubClass',axis=1)
oneHotTest = oneHotTest.drop('MSSubClass',axis=1)

In [150]:
print(oneHotTrain.shape)
print(oneHotTest.shape)

(1460, 29)
(1459, 29)

In [151]:
dummyMSSubClassTrain = pd.get_dummies(dummyMSSubClassTrain,prefix='MSSubClass')

In [153]:
dummyMSSubClassTrain.head()

,MSSubClass_120,MSSubClass_160,MSSubClass_180,MSSubClass_190,MSSubClass_20,MSSubClass_30,MSSubClass_40,MSSubClass_45,MSSubClass_50,MSSubClass_60,MSSubClass_70,MSSubClass_75,MSSubClass_80,MSSubClass_85,MSSubClass_90
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [154]:
dummyMSSubClassTest = pd.get_dummies(dummyMSSubClassTest,prefix='MSSubClass')
dummyMSSubClassTest.head()

,MSSubClass_120,MSSubClass_150,MSSubClass_160,MSSubClass_180,MSSubClass_190,MSSubClass_20,MSSubClass_30,MSSubClass_40,MSSubClass_45,MSSubClass_50,MSSubClass_60,MSSubClass_70,MSSubClass_75,MSSubClass_80,MSSubClass_85,MSSubClass_90
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [155]:
print(dummyMSSubClassTrain.shape)
print(dummyMSSubClassTest.shape)

(1460, 15)
(1459, 16)

In [156]:
dummyMSSubClassTrain.columns

Index(['MSSubClass_120', 'MSSubClass_160', 'MSSubClass_180', 'MSSubClass_190',
       'MSSubClass_20', 'MSSubClass_30', 'MSSubClass_40', 'MSSubClass_45',
       'MSSubClass_50', 'MSSubClass_60', 'MSSubClass_70', 'MSSubClass_75',
       'MSSubClass_80', 'MSSubClass_85', 'MSSubClass_90'],
      dtype='object')

In [157]:
dummyMSSubClassTest.columns

Index(['MSSubClass_120', 'MSSubClass_150', 'MSSubClass_160', 'MSSubClass_180',
       'MSSubClass_190', 'MSSubClass_20', 'MSSubClass_30', 'MSSubClass_40',
       'MSSubClass_45', 'MSSubClass_50', 'MSSubClass_60', 'MSSubClass_70',
       'MSSubClass_75', 'MSSubClass_80', 'MSSubClass_85', 'MSSubClass_90'],
      dtype='object')

In [158]:
#解决两个shape不相同的情况
add150 = np.zeros((1460,1))
pd150 = pd.DataFrame(add150,columns=['MSSubClass_150'])
dummyMSSubClassTrain = pd.concat([dummyMSSubClassTrain, pd150],axis=1)

In [159]:
dummyMSSubClassTrain.columns

Index(['MSSubClass_120', 'MSSubClass_160', 'MSSubClass_180', 'MSSubClass_190',
       'MSSubClass_20', 'MSSubClass_30', 'MSSubClass_40', 'MSSubClass_45',
       'MSSubClass_50', 'MSSubClass_60', 'MSSubClass_70', 'MSSubClass_75',
       'MSSubClass_80', 'MSSubClass_85', 'MSSubClass_90', 'MSSubClass_150'],
      dtype='object')

In [160]:
dummyMSSubClassTest.columns

Index(['MSSubClass_120', 'MSSubClass_150', 'MSSubClass_160', 'MSSubClass_180',
       'MSSubClass_190', 'MSSubClass_20', 'MSSubClass_30', 'MSSubClass_40',
       'MSSubClass_45', 'MSSubClass_50', 'MSSubClass_60', 'MSSubClass_70',
       'MSSubClass_75', 'MSSubClass_80', 'MSSubClass_85', 'MSSubClass_90'],
      dtype='object')

In [161]:
dummyMSSubClassTrain.sort_index(axis=1,ascending = True,inplace=True)
dummyMSSubClassTrain.columns

Index(['MSSubClass_120', 'MSSubClass_150', 'MSSubClass_160', 'MSSubClass_180',
       'MSSubClass_190', 'MSSubClass_20', 'MSSubClass_30', 'MSSubClass_40',
       'MSSubClass_45', 'MSSubClass_50', 'MSSubClass_60', 'MSSubClass_70',
       'MSSubClass_75', 'MSSubClass_80', 'MSSubClass_85', 'MSSubClass_90'],
      dtype='object')

In [162]:
dummyMSSubClassTest.columns

Index(['MSSubClass_120', 'MSSubClass_150', 'MSSubClass_160', 'MSSubClass_180',
       'MSSubClass_190', 'MSSubClass_20', 'MSSubClass_30', 'MSSubClass_40',
       'MSSubClass_45', 'MSSubClass_50', 'MSSubClass_60', 'MSSubClass_70',
       'MSSubClass_75', 'MSSubClass_80', 'MSSubClass_85', 'MSSubClass_90'],
      dtype='object')

In [163]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown='ignore')#处理未知特征：ignore忽略；默认error 报错；

oneHotTrain = encoder.fit_transform(oneHotTrain.values)
# 稀疏矩阵转换成稠密型矩阵
oneHotTrain = oneHotTrain.toarray()

In [164]:
oneHotTrain.shape

(1460, 361)

In [165]:
oneHotTest = encoder.transform(oneHotTest.values)
oneHotTest = oneHotTest.toarray()

*MSSubClass 150: 训练集中没有，测试集中有。所以先对特征做个转换映射到新特征上，之后再用onehot encoder 学习，转换*

确实多一个150标签

OneHotEncoder将所有特征都进行转换了；不可取！

将各种类型数据切分，最后再整合到一起

In [166]:
print('oneHotTrain shape:', oneHotTrain.shape)
print('oneHotTest shape:', oneHotTest.shape)

oneHotTrain shape: (1460, 361)
oneHotTest shape: (1459, 361)

In [167]:
encoder.categories_

[array(['C (all)', 'FV', 'RH', 'RL', 'RM'], dtype=object),
 array(['Grvl', 'Pave'], dtype=object),
 array(['Grvl', 'NA', 'Pave'], dtype=object),
 array(['IR1', 'IR2', 'IR3', 'Reg'], dtype=object),
 array(['Bnk', 'HLS', 'Low', 'Lvl'], dtype=object),
 array(['AllPub', 'NoSeWa'], dtype=object),
 array(['Corner', 'CulDSac', 'FR2', 'FR3', 'Inside'], dtype=object),
 array(['Gtl', 'Mod', 'Sev'], dtype=object),
 array(['Blmngtn', 'Blueste', 'BrDale', 'BrkSide', 'ClearCr', 'CollgCr',
        'Crawfor', 'Edwards', 'Gilbert', 'IDOTRR', 'MeadowV', 'Mitchel',
        'NAmes', 'NPkVill', 'NWAmes', 'NoRidge', 'NridgHt', 'OldTown',
        'SWISU', 'Sawyer', 'SawyerW', 'Somerst', 'StoneBr', 'Timber',
        'Veenker'], dtype=object),
 array(['Artery', 'Feedr', 'Norm', 'PosA', 'PosN', 'RRAe', 'RRAn', 'RRNe',
        'RRNn'], dtype=object),
 array(['Artery', 'Feedr', 'Norm', 'PosA', 'PosN', 'RRAe', 'RRAn', 'RRNn'],
       dtype=object),
 array(['1Fam', '2fmCon', 'Duplex', 'Twnhs', 'TwnhsE'], dtype=object),
 array(['1.5Fin', '1.5Unf', '1Story', '2.5Fin', '2.5Unf', '2Story',
        'SFoyer', 'SLvl'], dtype=object),
 array(['1872', '1875', '1880', '1882', '1885', '1890', '1892', '1893',
        '1898', '1900', '1904', '1905', '1906', '1908', '1910', '1911',
        '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919',
        '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927',
        '1928', '1929', '1930', '1931', '1932', '1934', '1935', '1936',
        '1937', '1938', '1939', '1940', '1941', '1942', '1945', '1946',
        '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954',
        '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962',
        '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
        '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
        '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
        '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
        '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
        '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010'],
       dtype=object),
 array(['1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957',
        '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965',
        '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
        '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
        '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
        '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
        '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
        '2006', '2007', '2008', '2009', '2010'], dtype=object),
 array(['Flat', 'Gable', 'Gambrel', 'Hip', 'Mansard', 'Shed'], dtype=object),
 array(['ClyTile', 'CompShg', 'Membran', 'Metal', 'Roll', 'Tar&Grv',
        'WdShake', 'WdShngl'], dtype=object),
 array(['AsbShng', 'AsphShn', 'BrkComm', 'BrkFace', 'CBlock', 'CemntBd',
        'HdBoard', 'ImStucc', 'MetalSd', 'Plywood', 'Stone', 'Stucco',
        'VinylSd', 'Wd Sdng', 'WdShing'], dtype=object),
 array(['AsbShng', 'AsphShn', 'Brk Cmn', 'BrkFace', 'CBlock', 'CmentBd',
        'HdBoard', 'ImStucc', 'MetalSd', 'Other', 'Plywood', 'Stone',
        'Stucco', 'VinylSd', 'Wd Sdng', 'Wd Shng'], dtype=object),
 array(['BrkCmn', 'BrkFace', 'NA', 'None', 'Stone'], dtype=object),
 array(['BrkTil', 'CBlock', 'PConc', 'Slab', 'Stone', 'Wood'], dtype=object),
 array(['Floor', 'GasA', 'GasW', 'Grav', 'OthW', 'Wall'], dtype=object),
 array(['N', 'Y'], dtype=object),
 array(['FuseA', 'FuseF', 'FuseP', 'Mix', 'NA', 'SBrkr'], dtype=object),
 array(['N', 'P', 'Y'], dtype=object),
 array(['1', '10', '11', '12', '2', '3', '4', '5', '6', '7', '8', '9'],
       dtype=object),
 array(['2006', '2007', '2008', '2009', '2010'], dtype=object),
 array(['COD', 'CWD', 'Con', 'ConLD', 'ConLI', 'ConLw', 'New', 'Oth', 'WD'],
       dtype=object),
 array(['Abnorml', 'AdjLand', 'Alloca', 'Family', 'Normal', 'Partial'],
       dtype=object)]